{{template "base" .}}

{{define "content"}}
    <div class="container">        
        <div class="row">
            <div class="colu">
                <h1>This is the ABOUT page</h1>
                <p>AMAZING!</p>
            </div>   
        </div>
    </div>
{{end}}