{{template "base" .}}

{{define "content"}}
    <div class="container">        
        <div class="row">
            <div class="colu">
                <h1>This is the HOME page</h1>
                <p>GREAT!</p>
            </div>   
        </div>
    </div>
{{end}}